<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>General</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto open last package</string>
			<key>Key</key>
			<string>auto_open_last</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable iCloud/iTunes Backup</string>
			<key>Key</key>
			<string>icloud_backup_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>key_sound_enabled</string>
			<key>Title</key>
			<string>Key Sound Enabled</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>gamepad_sound_enabled</string>
			<key>Title</key>
			<string>GamePad Sound Enabled</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Smart Keyboard Mappings (iPad)</string>
			<key>Key</key>
			<string>smart_keyboard_mappings</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Screen</string>
			<key>FooterText</key>
			<string>Screen works as trackpad. To right click: hold one finger on screen, then quickly tap with another finger.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Pixelated scaling</string>
			<key>Key</key>
			<string>screen_pixelated</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Landscape scale</string>
			<key>Key</key>
			<string>screen_scale_mode</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>fill screen</string>
				<string>aspect fit 4:3</string>
				<string>aspect fit 16:10</string>
				<string>aspect fit 16:9</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>fill</string>
				<string>4:3</string>
				<string>16:10</string>
				<string>16:9</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Tap as click</string>
			<key>Key</key>
			<string>tap_as_click</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>double_tap_as_right_click</string>
			<key>Title</key>
			<string>Double tap as right click</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Pan as mouse move</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>speed👇</string>
			<key>Key</key>
			<string>mouse_speed_title</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>Key</key>
			<string>mouse_speed</string>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show mouse hold indicator</string>
			<key>Key</key>
			<string>show_mouse_hold</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Overlay Control Transparency</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.2</real>
			<key>Key</key>
			<string>transparency</string>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Display optional input options in landscape mode (Currently iPad only).</string>
			<key>Title</key>
			<string>Optional Input Sources</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>numpad_enabled</string>
			<key>Title</key>
			<string>NumPad Enabled (iPhone)</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>joystick_enabled</string>
			<key>Title</key>
			<string>JoyStick Enabled</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Mouse Absolute Coordinates</string>
			<key>FooterText</key>
			<string>When enabled, it changes in-dos mouse behavior to &quot;pointer to touched location&quot; (sometimes called as &quot;direct touch&quot;). Note that each dos program may need different scale factor. If mouse pointer is not in sync with your touch, you need to adjust the scale factors.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Mouse Absolute Coordinate</string>
			<key>Key</key>
			<string>mouse_abs_enable</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>X-coord Scale Factor</string>
			<key>Key</key>
			<string>mouse_abs_xscale</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Titles</key>
			<array>
				<string>x0.5</string>
				<string>x1</string>
				<string>x2</string>
				<string>x4</string>
				<string>x6</string>
				<string>x8</string>
			</array>
			<key>Values</key>
			<array>
				<string>0.5</string>
				<string>1</string>
				<string>2</string>
				<string>4</string>
				<string>6</string>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Y-coord Scale Factor</string>
			<key>Key</key>
			<string>mouse_abs_yscale</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Titles</key>
			<array>
				<string>x0.5</string>
				<string>x1</string>
				<string>x2</string>
				<string>x4</string>
				<string>x6</string>
				<string>x8</string>
			</array>
			<key>Values</key>
			<array>
				<string>0.5</string>
				<string>1</string>
				<string>2</string>
				<string>4</string>
				<string>6</string>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>==== Credits ====</string>
			<key>FooterText</key>
			<string> - iDOS is based on dosbox 0.74. DOSBox is a DOS-emulator that uses the SDL-library which makes DOSBox very easy to port to different platforms. DOSBox is developed by DOSBox Team. Visit `http://www.dosbox.com&apos; for more details.
			
 - The source code for iDOS is hosted at `https://github.com/litchie/dospad&apos;.
 
 - Bug reports, feedbacks or BETA test requests can be sent to `idos@litchie.com&apos;.
			</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
