<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdditionalInfo</key>
	<dict>
		<key>CFBundleSupportedPlatforms</key>
		<array>
			<string>iPhoneOS</string>
		</array>
		<key>DTPlatformName</key>
		<string>iphoneos</string>
		<key>DTPlatformVersion</key>
		<string>3.2</string>
		<key>DTSDKName</key>
		<string>$(SDK_NAME)</string>
		<key>MinimumOSVersion</key>
		<string>$(IPHONEOS_DEPLOYMENT_TARGET)</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.platform.iphoneos</string>
	<key>CFBundleName</key>
	<string>iPhone OS platform</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2</string>
	<key>DefaultDebuggerSettings</key>
	<dict>
		<key>DataFormattersLocationPath</key>
		<string>/Developer/usr/lib</string>
		<key>DisableGuardMallocInDebugger</key>
		<string>YES</string>
		<key>DisableRestartInDebugger</key>
		<string>YES</string>
		<key>ProvidesAttachList</key>
		<string>YES</string>
		<key>RequiresDeviceForLaunch</key>
		<string>YES</string>
		<key>RunInDebugger</key>
		<string>YES</string>
	</dict>
	<key>DefaultProperties</key>
	<dict>
		<key>ARCHS</key>
		<string>armv6</string>
		<key>CODE_SIGN_CONTEXT_CLASS</key>
		<string>XCiPhoneOSCodeSignContext</string>
		<key>COMPRESS_PNG_FILES</key>
		<string>YES</string>
		<key>DEBUG_INFORMATION_FORMAT</key>
		<string>dwarf-with-dsym</string>
		<key>EMBEDDED_PROFILE_NAME</key>
		<string>embedded.mobileprovision</string>
		<key>INFOPLIST_OUTPUT_FORMAT</key>
		<string>binary</string>
		<key>NATIVE_ARCH</key>
		<string>armv6</string>
		<key>PLIST_FILE_OUTPUT_FORMAT</key>
		<string>binary</string>
		<key>SDKROOT</key>
		<string>iphoneos3.2</string>
		<key>STRINGS_FILE_OUTPUT_ENCODING</key>
		<string>binary</string>
		<key>TARGETED_DEVICE_FAMILY</key>
		<string>1</string>
	</dict>
	<key>Description</key>
	<string>iPhone OS Device</string>
	<key>FamilyIdentifier</key>
	<string>iphoneos</string>
	<key>FamilyName</key>
	<string>iPhone OS</string>
	<key>Icon</key>
	<string>iPhoneOS.icns</string>
	<key>Identifier</key>
	<string>com.apple.platform.iphoneos</string>
	<key>Name</key>
	<string>iphoneos</string>
	<key>OverrideProperties</key>
	<dict>
		<key>CODE_SIGN_CONTEXT_CLASS</key>
		<string>XCiPhoneOSCodeSignContext</string>
		<key>DEBUG_INFORMATION_FORMAT</key>
		<string>dwarf-with-dsym</string>
		<key>EMBEDDED_PROFILE_NAME</key>
		<string>embedded.mobileprovision</string>
		<key>SDKROOT</key>
		<string>iphoneos3.2</string>
	</dict>
	<key>RuntimeRequirements</key>
	<dict>
		<key>Classes</key>
		<array>
			<string>XCiPhoneOSCodeSignContext</string>
			<string>XCProductPackagingUtilityCommandInvocation</string>
			<string>DTDKProvisioningProfileController</string>
			<string>XCiPhoneOSPlatformPlugin</string>
		</array>
	</dict>
	<key>Type</key>
	<string>Platform</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>Version</key>
	<string>3.2</string>
</dict>
</plist>
