[dosbox]
memsize=16

[sblaster]
# to make game faster
# uncomment the following line to turn off sound
#sbtype=none
[cpu]
# Try core=dynamic to improvement performance
# however, it doesn't always work.
# so we are using simple core by default
core=simple

[midi]
mididevice=coremidi

[gus]
# Uncomment to enable the Gravis Ultrasound emulation.
#gus=true
gusrate=44100
gusbase=240
gusirq=5
gusdma=3
ultradir=C:\ULTRASND

[speaker]
# Uncomment the line turn off speaker
#pcspeaker=false
[render]
# we are using faster scaler outside dosbox
scaler=none

[joystick]
joysticktype=2axis

[gamepad.keybinding]
button0=CTRL,CTRL
button1=ALT,ALT
button2=SPC,SPACE
button3=ENTR,ENTER
button4=ESC,ESC
button5=F1,F1

[autoexec]
play
